header {
    display: inline-grid;
    background-color: rgb(42, 42, 42);
    width: 100vw;
    grid-template-rows: 2.3rem;
    grid-template-columns: 1fr 2fr;
}

.col:first-of-type {
    color: white;
    display: inline-grid;
    justify-content: left;
    align-items: center;
    margin-left: 7rem;
}

.col:nth-of-type(2) {
    color: white;
    display: inline-grid;
    justify-content: end;
    align-items: center;
    margin-right: 7rem;
}

.center-block {
    background-color: rgb(224, 224, 224);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 7.5rem;
    margin-left: 7.5rem;
    border-radius: 3px;
}

h1 {
    font-size: 4rem;
    font-weight: 350;
    padding-top: 3rem;
    padding-left: 1.5rem;
}

h2 {
    font-size: 1em;
    padding-left: 1.5rem;
    padding-top: 0.4rem;
    padding-right: 1.5rem;
}

button:first-of-type {
    position: relative;
    margin-left: 1.5rem;
    margin-top: 0.4rem;
    margin-bottom: 3rem;
}

.container {
    display: inline;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 7rem;
    margin-left: 7rem;
    grid-template-rows: 1fr;
}

.card-img-top {
    justify-content: space-between;
    width: 11rem;
    height: 9rem;
}

.card1, .card2, .card3, .card4 {
    display: inline-grid;
    justify-content: space-evenly;
    grid-template-rows: repeat(2, 0.3fr) 0.2fr;
    grid-template-columns: 11rem;
    margin: 1.5rem;
    border-radius: 5000px;
}

h3 {
    padding-left: 4rem;
}

button:nth-of-type(2) {
    position: relative;
    margin-top: 0.7fr;
}

.b2 {
    background-color: rgb(223, 220, 220);
    height: 3rem;
}

p {
    font-size: 0.7rem;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    color: white;
    background-color: rgb(42, 42, 42);
    justify-content: center;
    display: grid;
}